* {
    box-sizing: border-box;
}
body {
    font-family: Georgia, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    height: 100%;
}
.header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
    color: white;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.hero {
    background-image: url('../images/signin.svg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    color: white;
    text-align: center;
}
.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
.hero p {
    font-size: 24px;
    margin-bottom: 40px;
}
.cta-button {
    background-color: #FF5733;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}
.cta-button:hover {
    background-color: #FF4500;
}
.steps {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.step {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.step h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.step p {
    font-size: 18px;
    color: #666;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

/* css for preload */
.hidden {
    display: none;
}
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

 /* Ensure that the video covers the entire viewport */
 .video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
}

/* Optional styling for content over the video */
.container {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 50px;
}

.carousel, .carousel-inner, .carousel-item {
    width: 100%;
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
}
.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
