{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
    <h1 class="my-4">Edit Profile</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.image_file.label(class="form-label") }} 
            {{ form.image_file(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.username.label(class="form-label") }} 
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.first_name.label(class="form-label") }} 
            {{ form.first_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.last_name.label(class="form-label") }} 
            {{ form.last_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label(class="form-label") }} 
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.about_me.label(class="form-label") }} 
            {{ form.about_me(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
        {% if current_user.image %}
            <div class="form-group">
                <img src="{{ url_for('static', filename='uploads/' + current_user.image) }}" alt="Profile Image" class="img-thumbnail">
            </div>
        {% endif %}
    </form>    
{% endblock %}
