{% extends "base.html" %}
{% block title %}Listings{% endblock %}
{% block content %}
    <style>
        body {
            background: url(../static/images/bookings.svg) no-repeat center center;
            background-size: cover;
            background-attachment: fixed;
        }

        i {
            color: #fff;
        }

        .card {
            border: none;
            border-radius: 10px;
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        }

        .card-img-top {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            height: 200px;
            object-fit: cover;
        }

        .card-title a {
            text-decoration: none;
            color: inherit;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            border-radius: 50px;
        }

        .btn-success {
            background-color: #28a745;
            border-color: #28a745;
            border-radius: 50px;
        }
        .container-fluid .card{
            backdrop-filter: blur(40px);
            border-radius: 0 0 50px 50px;
            background-color: transparent;
            border-color: #fff;
            border-width: 3px;
            border-style: solid;
            box-shadow: rgb(200, 400, 500);
        }
        .card-body {
            backdrop-filter: blur(40px);
        }
        .card-ing-top {
            border-radius: 50px 50px 0 0;
        }
    </style>

    <div class="container-fluid mt-5 list-page">
        <h1 class="my-4 text-center"><strong><i>Listings</i></strong></h1>
        <div class="row">
            {% for listing in listings.items %}
                <div class="col-lg-4 col-md-4 col-sm-6 d-flex align-items-stretch">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{ url_for('static', filename='images/' ~ listing.image_file) }}" class="card-img-top" alt="{{ listing.title }}">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                <a href="{{ url_for('listing', listing_id=listing.id) }}">{{ listing.title }}</a>
                            </h5>
                            <p><strong>Price:</strong> {{ price_with_currency }}</p>
                            <p class="card-text">{{ listing.description | truncate(100) }}</p>
                            <div class="mt-auto">
                                <a href="{{ url_for('listing', listing_id=listing.id) }}" class="btn btn-primary btn-block mb-2">View Details</a>
                                <a href="{{ url_for('book_listing', listing_id=listing.id) }}" class="btn btn-success btn-block">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-between mt-4">
            {% if listings.has_prev %}
                <a href="{{ url_for('listings', page=listings.prev_num) }}" class="btn btn-secondary">Previous</a>
            {% endif %}
            {% if listings.has_next %}
                <a href="{{ url_for('listings', page=listings.next_num) }}" class="btn btn-secondary">Next</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
