<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include any additional CSS files or stylesheets here -->
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.email.label(class="form-control-label") }}
                                {{ form.email(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.password.label(class="form-control-label") }}
                                {{ form.password(class="form-control") }}
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                            <hr>
                            <a class="btn btn-primary" href="{{ url_for('google.login') }}">Login with Google</a><hr>
                            <a class="btn btn-primary" href="{{ url_for('facebook.login') }}">Login with Facebook</a><hr>
                            <a class="btn btn-primary" href="{{ url_for('apple_login') }}">Login with Apple</a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional: JavaScript libraries -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Include any additional JavaScript files here -->
</body>
</html>
